*~
~*
*.diff
*.patch
*.bak
.DS_Store
*.swp
*.swo
*.log
*.log.*

/.vscode/

node_modules/
.sass-cache/

/.bundle/
/vendor/bundle
*.gem

yarn.lock
package-lock.json
Gemfile.lock

_site/
.jekyll-metadata
.jekyll-cache/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/MyBlog.iml
.idea/vcs.xml
.idea/workspace.xml
